@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    height: 100vh;
    width: 100vw;
    background: rgba(243, 243, 10, 0.986);
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000;
    padding-top: 50px;
}

.reg {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {
    width: 125px;
    height: 30px;
    border: 2px solid #000;
    border-radius: 8px;
    padding: 15px;
    margin: 10px 2px;
    text-align: center;
    overflow-y: hidden;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-fields {
    width: 250px;
    display: flex;
    align-items: center;
}

.input-fields input:nth-child(2){
    margin: 0 0px 5px 20px;
    width: 80px;
}

.radio-btns {
    height: 100px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-btns input {
    height: 20px;
}

.radio {
    display: flex;
    align-items: center;    
    height: 50px;
    margin-left: -30px;
}

label {
    padding: 0;
    margin-left: -80px;
}

div.submit-radio {
    width: 250px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

input {
    width: 250px;
    height: 50px;
    background: none;
    border: 1px solid #000;
}

input[type="radio"]{
    margin-left: -50px;
    width: 200px;
}

input[type="button"]{
    background: #001214;
    color: #eee;
    height: 40px;
    font-size: 14px;
    display: none;
}

input[type="submit"] {
    height: 40px;
    width: 70px;
    margin-top: 5px;
    background: #001214;
    color: #eee;
    cursor: pointer;
    align-self: flex-end;
    font-size: 20px;
}

.hide {
    display: none;
}

input#remove {
    width: 250px;
}

.error {
    position: absolute;
    top: 0;
    width: 30%;
    background: red;
    color: #eee;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#example {
    color: gray;
    font-weight: 600;
}

::placeholder {
    padding: 2px;
    font-size: 18px;
}

@media screen and (max-width: 1200px){
    .container, .error {
        width: 60%;
    }
}

@media screen and (max-width: 450px){
    .radio-btns {
        flex-direction: column;
        align-items: flex-start;
        width: 200px;
    }

    #show {
        align-self: flex-start;
    }

    .container, .error {
        width: 100%;
    }

}